<mat-card class= "a" style="background-color: black; color: whitesmoke; width: 100%;">
    <main class="wrapper">
        <div>
            <section class="section-1 ">
                <ul>
                    <div>
                        <h1 style="font-family: 'Geo', sans-serif; color: black; font-size: 35;">Company</h1>
                        <mat-chip-list aria-label="Fish selection">
                            <mat-chip>Microsoft</mat-chip>
                            <mat-chip>Google</mat-chip>
                            <mat-chip>Udemy</mat-chip>
                            <mat-chip>Apple</mat-chip>
                            <mat-chip>Autodesk</mat-chip>

                        </mat-chip-list>
                    </div>
                </ul>
                <ul>
                    <div style="height: auto;  ">
                        <b>
                            <span>Hours: 50 Hrs</span><br>
                            <span>Fees : ₹25000</span><br>
                            <span>Location: Mulund(W),Mumbai - 400080</span>
                        </b>
         </div>
                      </ul>
            </section>
           
        </div>
        <section class="section-2" id="breweries">
            <div>
                <ul>
                </ul>
                <ul style="height: auto; background-color: whitesmoke;color: black;border-left: 5px solid greenyellow;">
                    <h2 style="font-family: 'Geo', sans-serif; color: black; font-size: 35;">What Will I Learn</h2>
                    <li>Student can learn complete picture about new features introduced as the part of Java</li>
                    <li> lambada Expression </li>
                    <li> Functional Interface </li>
                    <li>Student can learn complete picture about new features introduced as the part of Java</li>
                    <li> lambada Expression </li>
                    <li> Functional Interface </li>
                </ul>
                <ul
                    style="height: auto; background-color: whitesmoke;margin-top:40px; border-left: 5px solid greenyellow;">
                    <h2 style="color: black;">Syllabus</h2>
                    <mat-tree style="background-color:gainsboro;  color:black " [dataSource]="dataSource"
                        [treeControl]="treeControl">
                        <!-- This is the tree node template for leaf nodes -->
                        <mat-tree-node style="color: black;" *matTreeNodeDef="let node" matTreeNodePadding>
                            <!-- use a disabled button to provide padding for tree leaf -->
                            <button mat-icon-button disabled></button>
                            {{node.name}}
                        </mat-tree-node>
                        <!-- This is the tree node template for expandable nodes -->
                        <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
                            <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'toggle ' + node.name">
                                <mat-icon class="mat-icon-rtl-mirror">
                                    {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                                </mat-icon>
                            </button>
                            {{node.name}}
                        </mat-tree-node>
                    </mat-tree>
                </ul>
            </div>
        </section>
    </main>




</mat-card>