<mat-toolbar style="height: 35%; display: flex; 
flex-direction: row; justify-content: space-between; z-index:5; position : inherit;" class="mat-elevation-z8">
  <div style="display: flex; 
  flex-direction: row; justify-content: space-around; width: 70%;">
    <div>
      <img src="../assets/images/angular.png" class="profile-image" alt="Avatar" alt="avator">
    </div>
    <div>
      <img src="../assets/images/java.png" class="profile-image" alt="Avatar" alt="avator">
    </div>
    <div>
      <img src="../assets/images/mongo.png" class="profile-image" alt="Avatar" alt="avator">
    </div>
    <div>
      <img src="../assets/images/spring-3-logo-png-transparent.png" class="profile-image" alt="Avatar" alt="avator">
    </div>
  </div>
  <div style="font-family: 'Geo', sans-serif; font-size: 70px;">
    <span style=" padding-top: 80%; border-bottom: 5px solid white; color: white;">
      Tech Zinfinity
    </span>
  </div>
</mat-toolbar>
<mat-toolbar style="display: flex; justify-content: flex-end;">
    <button mat-flat-button style="background-color: #00ffff; color: black; 
      height: 35px; width: 150px; font-family: 'Geo', sans-serif !important; 
      font-size: 22px; margin-right: 5px;"
      >Faculty</button>

    <button mat-flat-button style="background-color: #00ffff; color: black; 
      height: 35px; width: 150px; font-family: 'Geo', sans-serif !important; 
      font-size: 21px;" 
      >Industial Touch</button>

</mat-toolbar>
<div style="z-index:5; position : fixed;display : flex; 
     align-self : flex-end;bottom : 0%; margin-bottom : 20px;">

  <button mat-raised-button style="margin-left : 14px; float: right; 
    font-family: 'Geo', sans-serif !important; 
    width: 230px; height: 50px; font-size: 25px;" class="button-hover" (click)="openEnquiryDialog()">
    <mat-icon style="color: rgba(58, 245, 139, 0.966); font-size: 27px; 
    padding-right: 5px;">live_help
    </mat-icon>
    Enqire for Course
  </button>
</div>
<div style="height: 15%;">
  <mat-toolbar color="accent" style="height: 50%; display: flex; justify-content: center;">
    <span style="font-family: 'Geo', sans-serif; font-size: 40px; color: black;">
      Completed graduation; Still unaware of Industrial Knowledge ?
    </span>
  </mat-toolbar>
  <mat-toolbar color="accent"  style="height: 50%; display: flex; 
  justify-content: center; font-size: 33px; ">
    <span style="font-family: 'Geo', sans-serif; color: black;">
      We have a Solution for you ..!
    </span>
  </mat-toolbar>
</div>
<div style="width: 100%; display: flex; flex-direction: row; justify-content: start;">

  <mat-toolbar style="width: 20%; background-color: rgba(45, 248, 208, 0.721);" class="mat-elevation-z1">
    <span style="color: black; font-family: 'Geo', sans-serif; 
      font-size: xx-large;">Courses</span>
  </mat-toolbar>

  <mat-toolbar style="width: 80%; display: flex; flex-direction: row;
     justify-content: space-evenly; background-color: rgb(16, 150, 123);
     box-shadow: 0 2px 5px 0 black, 0 2px 5px 10px 0 black;" class="mat-elevation-z1">
    <button mat-flat-button style="background-color: white; color: black; 
      height: 50px; width: 250px; font-family: 'Geo', sans-serif !important; 
      font-size: 30px;border: 2px inset black;" class="mat-elevation-z8 button-hover" (click)="clicked()"
      routerLink="/course/java">Core Java 8+</button>

    <button mat-flat-button style="background-color: white; color: black; 
      height: 50px; width: 250px; font-family: 'Geo', sans-serif !important; 
      font-size: 30px;border: 2px inset black;" class="mat-elevation-z8 button-hover"
      routerLink="/course/java-springboot">Java-Spring Boot</button>

    <button mat-flat-button style="background-color: white; color: black; 
      height: 50px; width: 250px; font-family: 'Geo', sans-serif !important; 
      font-size: 30px;border: 2px inset black;" class="mat-elevation-z8 button-hover"
      routerLink="/course/angular">Angular X+</button>

  </mat-toolbar>
</div>
<div style="padding-left: 20%; padding-right:15%; margin-top: 15px;">
  <router-outlet></router-outlet>
</div>
<div>
  <mat-toolbar style="height: 200px;">
    Footer
  </mat-toolbar>
</div>